input{
    width:70vw;
    height:10vh;
    font-size:20px;
}

form div{
display:flex;
margin-top:30px;
}
label{
display:inline-block;
width:15vw;
height:10vh;
font-size:20px;
padding-left:20px;
}

#signup-btn{
    width:70vw;
    height:5vh;
    font-size:20px;
    margin-left:calc(15vw + 21px);
    margin-top:20px;
}